*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.contenedor{
    width: 60%;
    height: 1510px;
    background: rgb(163, 0, 0);
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cuadro1{
width: 100%;
height: 15px;
background-color:#cc9900;


}

.boxter{
width: 809px;
height: 120px;
background-color: rgb(241, 241, 241);
position: absolute;
top: 15px;

}

.contenedor img{
width: 190px;
height: 90px;
position: absolute;
top: 30px;
left: 290px;
}

.contenedor2 img{
    width: 120px;
    height: 90px;
    position: absolute;
    top: 30px;
    left: 920px;
}

.contenedor2 {
    overflow: hidden;
    background-color: rgb(167, 94, 94);
  }

  .div2{
    position: absolute;
    top: 135px;
    background-color: #ffffff;
    width: 60%;
    left: 270px;
  }
  
  .div2 a {
    float: left;
    color: #000000;
    text-align: center;
    padding:14px 21px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .div2 a:hover {
    background-color: #b3100d;
    color: black;
  }
  
  .div2 a.active {
    background-color: #5d0201;
    color: white;
  }
 
  .contenedor3 img{
    width: 809px;
    height: 250px;
    position: absolute;
    top: 183px;
    left: 270px;


  }

  .rectangulo{
    width: 809px;
   height: 560px;
background-color: rgb(241, 238, 238);
position: absolute;
top: 433px;
left: 270px; ;
  }

  .engrane img{
    width: 35px;
    position: absolute;
    top: 480px;
    left: 283px;
  }

  .engrane p{
    position: absolute;
    top: 470px; 
    left: 325px;
    color: #5d0201;
    font-size: 20px;
  }

  .engrans{
    position: absolute;
    top: 520px;
    left: 290px;
    width: 200px;
    height: 1px;
    background-color: rgb(201, 201, 201);
  }

  .engrane1 img{
    width: 35px;
    position: absolute;
    top: 480px;
    left: 560px;
  }

  .engrane1 p{
    position: absolute;
    top: 485px; 
    left: 610px;
    color: #5d0201;
    font-size: 20px;
  }

  .engrans1{
    position: absolute;
    top: 520px;
    left: 540px;
    width: 200px;
    height: 1px;
    background-color: rgb(201, 201, 201);
  }

  .engrane2 img{
    width: 35px;
    position: absolute;
    top: 480px;
    left: 830px;
  }

  .engrane2 p{
    position: absolute;
    top: 485px; 
    left: 880px;
    color: #5d0201;
    font-size: 20px;
  }

  .engrans2{
    position: absolute;
    top: 520px;
    left: 830px;
    width: 200px;
    height: 1px;
    background-color: rgb(201, 201, 201);
  }


  .tec img{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 540px;
    left: 290px;

  }

  .tec p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 11px;
    position: absolute;
    top: 650px;
    left: 290px;
    color: #000000;
  }

  .tec1 img{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 540px;
    left:540px;

  }

  .tec1 p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 11px;
    position: absolute;
    top: 650px;
    left: 540px;
    color: #000000;
  }

  .tec2 img{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 540px;
    left:830px;
  }
  
  .tec3 img{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 640px;
    left:830px;
  }

  .perfil p{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 740px; ;
    left: 300px;
    font-weight: bolder;
    color: #000000;
  }
  
  .perfil img{
    width: 20px;
    position: absolute;
    top: 790px;
    left: 300px;
  }

  .texto p{
    position: absolute;
    top: 790px;
    left: 325px;
    font-size: 12px;
    color: #000000;
    font-family:Arial, Helvetica, sans-serif ;
  }

  .perfil2 img{
    width: 20px;
    position: absolute;
    top: 850px;
    left: 300px;
  }

  .perfil2 p{
    position: absolute;
    top: 850px;
    left: 325px;
    font-size: 12px;
    color: #000000;
    font-family:Arial, Helvetica, sans-serif ;
  }

  .perfil3 img{
    width: 20px;
    position: absolute;
    top: 900px;
    left: 300px;
  }

  .perfil3 p{
    position: absolute;
    top: 898px;
    left: 325px;
    font-size: 12px;
    color: #000000;
    font-family:Arial, Helvetica, sans-serif ;
  }

  .perfil4 img{
    width: 20px;
    position: absolute;
    top: 940px;
    left: 300px;
  }

  .perfil4 p{
    position: absolute;
    top: 935px;
    left: 325px;
    font-size: 12px;
    color: #000000;
    font-family:Arial, Helvetica, sans-serif ;
  }


  .cuadro4{
    position: absolute;
    top: 790px;
    left: 830px;
    width: 200px;
    height: 175px;
    background-color: #5d0201;
    border-radius: 8px;
  }

  .cuadro4 h1{
    position: absolute;
    top: 25px;
    left: 40px;
    font-size: 12px;
    color: #cc9900;
    font-family:Arial, Helvetica, sans-serif ;
  }
  
  .cuadro4 p{
    position: absolute;
    top: 45px;
    left: 20px;
    font-size: 10px;
    color: white;
    font-family:Arial, Helvetica, sans-serif ;
  }

  .btn {
    position: absolute;
    top:130px;
    left: 50px;
    background-color: #faf60b;
    color: rgb(0, 0, 0);
    padding: 8px 25px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }

  .panel{
    width: 809px;
    height: 200px;
 background-color: rgb(255, 255, 255);
 position: absolute;
 top: 990px;
 left: 270px; ;
  }

  .panel h1{
    position: absolute;
    top: 10px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
  }

  .forma{
    position: absolute;
    top: 70px;
  }

  .enviar{
    position: absolute;
    top:80px;
    left: 50px;
    background-color:#5d0201;
    color: rgb(255, 255, 255);
    padding: 8px 25px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }

  form input{
   
    color: #017efc; 

  }

  .pentagono{
    width: 809px;
    height: 300px;
 background-color:  #101518;
 position: absolute;
 top: 1190px;
 left: 270px; ;
  }

  .pentagono p{
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 13px;
    color:#cc9900;
  }

  .pentagono h1{
    position: absolute;
    top: 80px;
    left: 30px;
    font-size: 13px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
  }

  .pentagono img{
    width: 300px;
    position: absolute;
    top: 30px;
    left:300px;
  }

  .logos1 img{
    width: 150px;
    position: absolute;
    top: 1250px;
    left:900px;
  }

